<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-horiz">
    <div class="inputSection">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-title">
                <h2>Search Well</h2>
            </div>
                <mat-form-field appearance="outline">
                    <input matInput name="uwi" placeholder="UWI" ngModel required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput name="wellname" placeholder="Well Name" ngModel required />
                </mat-form-field>
                <mat-form-field appearance="outline"> 
                    <input matInput name="state" placeholder="State" ngModel required />
                </mat-form-field>
                <br />
        
                <div class="container">
                    <button padding="10px" type="submit" mat-raised-button color="primary" [disabled]="!f.dirty"> Search
                    </button>
                </div>
            </form>
    </div>
    

    <div class="inputSection">
        <form #f1="ngForm" (ngSubmit)="onSubmitEdit(f1)">
            <div class="form-title">
                <h2>Edit Well</h2>
            </div>
                <mat-form-field appearance="outline">
                    <input matInput name="uwi" value={{selectedWell.uwi}} placeholder={{selectedWell.uwi}} disabled={{toggle}} ngModel required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput name="wellname" value={{selectedWell.wellname}} placeholder={{selectedWell.wellname}} disabled={{toggle}} ngModel required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput name="state" value={{selectedWell.state}} placeholder={{selectedWell.state}} disabled={{toggle}} ngModel required />
                </mat-form-field>
                <br />
        
                <div class="container">

                    <button  padding="10px" type="submit" mat-raised-button disabled={{toggle}} color="primary"> Submit
                    </button>

                    <button class="delete-button" (click) = 'onSubmitDelete(f1)' padding="10px" type="button" mat-raised-button disabled={{toggle}}   > Delete
                    </button>

                    <button (click) = 'toggleLockType(); toggleEdit()' padding="10px" type="button" mat-raised-button color="primary" disabled = "false"  > Edit
                        <span class="material-icons md-dark">{{lockType}}</span>
                    </button>
                   
                </div>
            </form>
    </div>
</div>


<div class="container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="uwi">
            <th mat-header-cell *matHeaderCellDef>UWI</th>
            <td mat-cell *matCellDef="let element">{{element.uwi}}</td>
        </ng-container>
        <ng-container matColumnDef="wellname">
            <th mat-header-cell *matHeaderCellDef>Well Name</th>
            <td mat-cell *matCellDef="let element">{{element.wellname}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{element.state}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="selectedWell = row"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
      
</div>
