<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-title">
        <h2>Search Well</h2>
    </div>
        <mat-form-field>
            <input matInput name="uwi" placeholder="UWI" ngModel required />
        </mat-form-field>
        <mat-form-field>
            <input matInput name="wellname" placeholder="Well Name" ngModel required />
        </mat-form-field>
        <mat-form-field>
            <input matInput name="state" placeholder="State" ngModel required />
        </mat-form-field>
        <br />

        <div class="container">
            <button padding="10px" type="submit" mat-raised-button color="primary" [disabled]="!f.dirty"> Search
            </button>
        </div>
    </form>
</div>
<div class="container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="uwi">
            <th mat-header-cell *matHeaderCellDef>UWI</th>
            <td mat-cell *matCellDef="let element">{{element.uwi}}</td>
        </ng-container>
        <ng-container matColumnDef="wellname">
            <th mat-header-cell *matHeaderCellDef>Well Name</th>
            <td mat-cell *matCellDef="let element">{{element.wellname}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{element.state}}</td>
        </ng-container>

        <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
